body{
    font-family: 'Times New Roman', Times, serif;
}

.border {
    border: 5px solid #027cf7!important;
}
.mybutton{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    margin: 0 auto;
    border-radius: 30px;
}
.just{
    width: 80%;
    text-align: center;
}
.mybutton{
    width: 30%;
    font-size: 1.2em;
    padding-left: 3%;
}
.mysize{
    display: inline;
    margin: 0;
    padding: 0;
}
.mycustButton{
   font-size: 2em;
}
.myicon{
    width: 50px;
    height: 100px;
    font-size: 5rem;
}



